{{define "title"}}Home{{end}}
<!-- Sidebar -->
{{define "sideBarContent"}}
<section class="sidebar-content">
  <nav>
    <ul>
      <li>
        <button data-text>
          <svg width="24" height="24" aria-hidden="true">
            <use href="/static/svg/sprite.svg#icon-typography"></use>
          </svg>
          Typography
        </button>
      </li>
      <li>
        <button data-text>
          <svg width="24" height="24" aria-hidden="true">
            <use href="/static/svg/sprite.svg#icon-buttons"></use>
          </svg>
          Buttons
        </button>

        <button data-text>
          <svg width="24" height="24" aria-hidden="true">
            <use href="/static/svg/sprite.svg#icon-form-elements"></use>
          </svg>
          Form Elements
        </button>
      </li>
    </ul>
  </nav>
</section>
{{end}}
<!-- Main Page -->
{{define "main"}}
<section class="main-content">
  <section>
    <h1>Web Starter Elements</h1>
    <p>
      This is a collection of styled native HTML elements. The goal is to help
      provide a simpler starting point for building web applications, without
      the need to rely on third-party component libraries. The components are
      built using native HTML elements and styled with CSS. Data attributes are
      used to provide additional styling options, such as different button
      variants.
    </p>
  </section>
  <section>
    <h2 data-highlight>Typography</h2>
    <div class="element-section"></div>
  </section>

  <section>
    <h2 data-highlight>Buttons</h2>
    <div class="element-section"></div>
  </section>

  <section>
    <h2 data-highlight>Form Elements</h2>
    <div class="element-section"></div>
  </section>
</section>
{{end}}
