button{
  background-color: var(--primary-base);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: scale 0.2s;
}

button:hover{
  scale: 1.02;
}

button::before{
  position: absolute;
  content: "";
  inset: 0;
  background-color: white;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}

button:hover::before{
  opacity: var(--hover-opacity);
}

button:active::before{
  opacity: var(--active-opacity);
}

