<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sam Maton - {{template "title"}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/variables.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/elements.css" />
    <link rel="stylesheet" href="/static/css/components.css" />
    <link rel="stylesheet" href="/static/external/prism/prism.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico" />
    <script>
      const storedTheme = localStorage.getItem("theme");
      if (storedTheme) {
        document.documentElement.setAttribute("data-theme", storedTheme);
      }
    </script>
  </head>
  <body>
    {{template "topBar" .}}
    <main class="app-shell">
      {{block "sideBar" .}} {{end}}
      <div class="content-scroll">{{template "main" .}}</div>
    </main>
    <dialog class="mobile-menu" id="mobile-menu">
      <section>
        <div class="mobile-controls">
          <button data-icon commandfor="mobile-menu" command="close">
            <svg width="24" height="24" aria-hidden="true">
              <use href="/static/svg/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <select name="color" id="mobile-color-theme">
            <option value="220">Blue</option>
            <option value="270">Purple</option>
            <option value="28">Orange</option>
            <option value="0">Red</option>
          </select>
          <button id="mobile-theme-toggle" data-icon>
            <svg width="24" height="24" aria-hidden="true">
              <use href="/static/svg/sprite.svg#icon-light-dark"></use>
            </svg>
          </button>
        </div>
      </section>
      <section>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/elements">Elements</a></li>
            <!-- <li><a href="/components">Components</a></li> -->
            <li><a href="/css-variables">CSS Variables</a></li>
            <!-- <li><a href="/documentation">Documentation</a></li> -->
          </ul>
        </nav>
      </section>
    </dialog>
  </body>
  <script src="/static/external/prism/prism.js"></script>
  <script src="/static/js/app.js"></script>
  {{ block "scripts" .}} {{end}}
</html>
