<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sam Maton - {{template "title"}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/variables.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/components.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico" />
    <script>
      const storedTheme = localStorage.getItem("theme");
      if (storedTheme) {
        document.documentElement.setAttribute("data-theme", storedTheme);
      }
    </script>
  </head>
  <body>
    {{template "topBar" .}}
    <main class="app-shell">
      {{block "sideBar" .}} {{end}}
      <div class="content-scroll">{{template "main" .}}</div>
    </main>
  </body>
  <script src="/static/js/app.js"></script>
</html>
