<!-- 
Title: Simpler web development with Go
Date: 2026-06-30
Category: Go
-->
{{define "title"}}Simpler web development with Go{{end}} {{define "main"}}
<article>
  <h2>Simpler web development with Go</h2>
  <time datetime="2026-06-17">June 17, 2026</time>
  <p>
    By now we are all well aware that using a frontend framework is a big
    commitment. I have made a decent career out of committing to using them but
    now that AI is here to write all that heavy, bloated code for me, I can
    spend my spare time trying to write simpler web applications.
  </p>
  <p>
    Of course I understand that simple, multi-page web applications are not
    going to work for AI code editors or complex streaming platforms but writing
    code without relying on a complex setup of tools and frameworks is really
    enjoyable. And I think that enjoyment still really matters.
  </p>
  <p>
    So that leads me to Go. It is so easy to get started with a simple static
    site in Go.
  </p>
  <pre>
    <code>
package main

import (
  "fmt"
  "net/http"
)

func main() {
  http.Handle("GET /", http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
    w.Write([]byte("&lt;h1&gt;Hello World&lt;/h1&gt;"))
  }))

  fmt.Println("Server started @ http://localhost:4000")
  http.ListenAndServe(":4000", nil)
}
    </code>
  </pre>
  <p>
    This gives us a simple web server which can be easily updated to handle
    multiple routes. Of course for most use cases you don't want to inline your
    HTML so we can make a small adjustment, bring in the html/template package
    and use a template to render our HTML.
  </p>
  <pre>
    <code>
t, _ := template.ParseFiles("./index.html")
t.Execute(w, nil)
    </code>
  </pre>
  <p>
    The Go html/template package is an amazing tool that really cemented my
    choice to use Go for all my personal web development projects in the near
    future. It gives you the ability to create reusable snippets such as
    sidebars and headers which can be used to build fairly complex page layouts
    without the need to copy and paste code.
  </p>
  <p>
    For example we can update our index.html template to include template slots
    for a header and the main content like so:
  </p>
  <pre>
    <code>
&lt;body&gt;
  &#123;&#123;template "header" .&#125;&#125;
  &#123;&#123;template "main" .&#125;&#125;
&lt;/body&gt;
    </code>
  </pre>
  <p>
    We can then define the header and main content in separate files like this:
  </p>
  <pre>
    <code>
// header.html
&#123;&#123;define "header"&#125;&#125;
  &lt;header&gt;
      ...
  &lt;/header&gt;
&#123;&#123;end&#125;&#125;

// home.html
&#123;&#123;define "main"&#125;&#125;
  &lt;main&gt;
    &lt;h1&gt;Home page&lt;/h1&gt;
  &lt;/main&gt;
&#123;&#123;end&#125;&#125;
    </code>
  </pre>
  <p>
    And then we simply parse the files together in our http handler for the "/"
    route.
  </p>
  <pre>
    <code>
t, _ := template.ParseFiles("./index.html", "./header.html", "./home.html")
t.Execute(w, nil)
    </code>
  </pre>
  <p>
    If we then need to create another route we can simply invoke the "main"
    template in a different file and add it's path to the 'ParseFiles' call
    instead of "./home.html". That new page will still have the same base html
    layout from the index file and the header markup.
  </p>
  <p>
    And there we have it! A nice simple web app in Go that is easy to manage
    thanks to Go's templating package.
  </p>
</article>

{{end}}
