<!-- 
Title: Simpler web development with Go
Date: 2026-06-17 
-->
{{define "title"}}Simpler web development with Go{{end}} {{define "main"}}
<article>
  <h2>Simpler web development with Go</h2>
  <time datetime="2026-06-17">June 17, 2026</time>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui provident
    eveniet tenetur sapiente impedit aliquam dolorem dolore ducimus temporibus
    in fuga aliquid omnis repellat beatae alias perspiciatis, assumenda earum
    natus!
  </p>
</article>

{{end}}
