{{define "topBar"}}
<header>
  <h1>Sam Maton</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/elements">Elements</a></li>
      <li><a href="/components">Components</a></li>
      <!-- <li><a href="/documentation">Documentation</a></li> -->
    </ul>
  </nav>
  <select name="color" id="color-theme">
    <option value="220">Blue</option>
    <option value="270">Purple</option>
    <option value="28">Orange</option>
    <option value="0">Red</option>
  </select>
  <button id="theme-toggle" data-icon>
    <svg width="24" height="24" aria-hidden="true">
      <use href="/static/svg/sprite.svg#icon-light-dark"></use>
    </svg>
  </button>
</header>
{{end}}
