* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}

/* LINKS */
a {
  text-decoration: none;
  color: var(--text-accent);
}

a:hover {
  text-decoration: underline currentColor;
}

/* BUTTONS */
button[data-icon] {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  box-sizing: content-box;
  padding: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--text);
}

button[data-icon]:hover {
  background-color: color-mix(
    in hsl,
    var(--accent-container) var(--hover-opacity),
    transparent
  );
}

button[data-icon]:active {
  background-color: color-mix(
    in hsl,
    var(--accent-container) var(--active-opacity),
    transparent
  );
}

/* LISTS */
nav > ul,
nav > ol {
  list-style: none;
  padding: 0;
}
