* {
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: var(--surface);
  border-bottom: 1px solid var(--border);
  gap: 2.5rem;
  padding: 1rem;
  height: 5rem;

  nav {
    align-content: center;
    flex-grow: 1;
  }

  nav > ul {
    display: flex;
    gap: 0.5rem;
  }
}

main {
  display: flex;
  gap: 2rem;
}

/* Sidebar */

.sidebar {
  width: 14rem;
  background-color: var(--surface);
  border-right: 1px solid var(--border);
  padding: 1rem;
  height: calc(100vh - 5rem);
}

.sidebar-header {
  display: flex;
  gap: 0.5rem;

  svg {
    background-color: var(--container-accent);
    padding: 0.25rem;
    box-sizing: content-box;
    border-radius: 0.25rem;
    color: var(--text-inverse);
  }
}

.sidebar-content {
  margin-top: 1rem;

  button {
    width: 100%;
    text-align: left;
  }
}
