:root {
  color-scheme: light dark;

  --primary-hue: 220;

  --bg: light-dark(
    hsl(var(--primary-hue), 10%, 90%),
    hsl(var(--primary-hue), 10%, 10%)
  );

  --surface: light-dark(
    hsl(var(--primary-hue), 10%, 95%),
    hsl(var(--primary-hue), 10%, 15%)
  );

  --surface-high: light-dark(
    hsl(var(--primary-hue), 10%, 100%),
    hsl(var(--primary-hue), 10%, 20%)
  );

  --border: light-dark(
    hsl(var(--primary-hue), 10%, 80%),
    hsl(var(--primary-hue), 10%, 30%)
  );

  --border-hover: light-dark(
    hsl(var(--primary-hue), 10%, 70%),
    hsl(var(--primary-hue), 10%, 40%)
  );

  --text: light-dark(
    hsl(var(--primary-hue), 10%, 20%),
    hsl(var(--primary-hue), 10%, 95%)
  );

  --text-inverse: light-dark(
    hsl(var(--primary-hue), 10%, 95%),
    hsl(var(--primary-hue), 10%, 15%)
  );

  --text-accent: light-dark(
    hsl(var(--primary-hue), 85%, 35%),
    hsl(var(--primary-hue), 80%, 70%)
  );

  --text-accent-inverse: light-dark(
    hsl(var(--primary-hue), 85%, 60%),
    hsl(var(--primary-hue), 80%, 45%)
  );

  --solid-hover-opacity: 20%;
  --solid-active-opacity: 30%;

  --transparent-hover-opacity: 70%;
  --transparent-active-opacity: 60%;

  --state-mix: light-dark(white, black);

  --container-accent: light-dark(
    hsl(var(--primary-hue), 80%, 45%),
    hsl(var(--primary-hue), 80%, 70%)
  );

  --container-accent-hover: color-mix(
    in hsl,
    var(--container-accent),
    var(--state-mix) var(--solid-hover-opacity)
  );

  --container-accent-active: color-mix(
    in hsl,
    var(--container-accent),
    var(--state-mix) var(--solid-active-opacity)
  );

  --transparent-container-accent-hover: color-mix(
    in hsl,
    var(--container-accent),
    var(--state-mix) var(--transparent-hover-opacity)
  );

  --transparent-container-accent-active: color-mix(
    in hsl,
    var(--container-accent),
    var(--state-mix) var(--transparent-active-opacity)
  );
}

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}
