:root {
  color-scheme: light dark;

  --primary-hue: 220;

  --bg: light-dark(
    hsl(var(--primary-hue), 10%, 90%),
    hsl(var(--primary-hue), 10%, 10%)
  );

  --surface: light-dark(
    hsl(var(--primary-hue), 10%, 95%),
    hsl(var(--primary-hue), 10%, 15%)
  );

  --surface-high: light-dark(
    hsl(var(--primary-hue), 10%, 100%),
    hsl(var(--primary-hue), 10%, 20%)
  );

  --border: light-dark(
    hsl(var(--primary-hue), 10%, 80%),
    hsl(var(--primary-hue), 10%, 30%)
  );

  --border-hover: light-dark(
    hsl(var(--primary-hue), 10%, 70%),
    hsl(var(--primary-hue), 10%, 40%)
  );

  --accent-container: light-dark(
    hsl(var(--primary-hue), 80%, 40%),
    hsl(var(--primary-hue), 80%, 70%)
  );

  --text: light-dark(
    hsl(var(--primary-hue), 10%, 20%),
    hsl(var(--primary-hue), 10%, 95%)
  );

  --text-inverse: light-dark(
    hsl(var(--primary-hue), 10%, 95%),
    hsl(var(--primary-hue), 10%, 15%)
  );

  --text-accent: light-dark(
    hsl(var(--primary-hue), 85%, 45%),
    hsl(var(--primary-hue), 80%, 70%)
  );

  --text-accent-inverse: light-dark(
    hsl(var(--primary-hue), 85%, 60%),
    hsl(var(--primary-hue), 80%, 45%)
  );

  --hover-opacity: 10%;
  --active-opacity: 20%;
  --high-opacity: 90%;
}

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}
